<!DOCTYPE html>
<html class="app">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="bower_components/bulma/css/bulma.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">

    <style>
      .app {
          height: 100%;
          background-color: #FFE19F;
          overflow: hidden;
      }
      .chat-app {
          height: 100%;
      }
    </style>
  </head>
  <body class="chat-app">
    <div id="app" class="chat-app">
      <router-view></router-view>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
