<!DOCTYPE html>
<html class="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/bower_components/bulma/css/bulma.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body class="chat-app">
    <div id="app" class="chat-app">
      <router-view></router-view>
    </div>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
