.auth-pane
    height: 100%
    background-image: url('/assets/images/1.jpg')
    background-size: cover
    // background: -webkit-linear-gradient(right, $auth-pane-dark ,$auth-pane-light)
    // background: -o-linear-gradient(right, $auth-pane-dark, $auth-pane-light)
    // background: -moz-linear-gradient(right, $auth-pane-dark, $auth-pane-light)
    // background: linear-gradient(right, $auth-pane-dark , $auth-pane-light)
    > .login-container
        // background: $login-container
        background: url('/assets/images/bg-white-lock.png') repeat
        width: 350px
        height: 300px
        padding: 20px
        position: absolute
        top: 50%
        left: 50%
        margin: -150px 0 0 -175px
        border-radius: 5px
        > .login-title
            text-align: center
            font-weight: bold
            font-size: larger
            font-family: 'Covered By Your Grace', cursive
            font-size: 2.5em
        > .login-form
            &.form-horizontal
                position: relative
            > .form-group
                margin: 10px 0
                > .control-label
                    font-size: 12px
                > .form-control
                    border: none
                    width: 100%
                    padding: 10px
                    border-radius: 25px
                    outline: none
                    font-weight: 500
                    border: 2px solid transparent
                    text-indent: 5px
                    &:focus
                        color: $input
                        background-color: $white
                        border: 2px solid $input-info-border
                        outline: 0
                > .form-button
                    border: none
                    width: 100%
                    padding: 10px
                    outline: none
                    cursor: pointer
                    font-style: italic
                    border-radius: 25px
                    background-color: $tag-info
                    color: $white
                    margin: 10px 0
                    &.form-button:active
                        background: $auth-pane-light
        > .copyright
            margin-top: 5px
            text-align: center
            width: 100%
            color: $white
    // > .login-container:before
    //     content: ''
    //     width: 342px
    //     height: 6px
    //     position: absolute
    //     top: 50%
    //     left: 50%
    //     margin: -106px 0 0 -171px
    //     background: $login-container_before
    //     border-top-left-radius: 5px
    //     border-top-right-radius: 5px
