// Pane
$auth-pane-dark: #3F518D
$auth-pane-light: #9CA5C2
$home-pane: #F5F5F5
$header-pane: #253878
$timeline-pane: #F5F5F5
$message-bubble-pane: #3C4F8F

// Variant colors
$white: #FFFFFF

// Hover
$new-conversation_hover: #8394C5
$conversation-item_hover: #B6C0E2
$back-button_hover: #8394C5

// Before
$image-container_before: #F5F5F5
$login-container_before: #9DACD8

// Border
$online-image-border: #253878
$offline-image-border: #D3D3D3

$default-image: #3B4E8C
$login-container: #FFFFFF
